*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url(images/bg1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.navbar{
    width: 100%;
    margin: auto;
    padding:10px 20px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 60px;
    cursor: pointer;
}
.navbar ul{
    margin: 0 25px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    margin: 0 10px;
    text-transform: uppercase;

}
.navbar ul li a:hover{
    color: #00ffe5;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #00ffe5;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top:40%;
    transform: translateY(-50);
    text-align: center;
    color:#fff;
}
.content h1{
    font-size: 70px;
    margin-top:40px;
}
.content p{
    margin: 20px 2px;
    font-weight: 100;
    line-height: 25px;
}
.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #00ffe5;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;

}

span{
    background: #00ffe5;
    height: 100%;
    width:0;
    border-radius: 20px;
    position: absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.button:hover span{
    width: 100%;
}
.button:hover {
    font-size: medium;
    color: blue;
    border:transparent;
}


  .dropdown {
    font-size: 17px;
    border: 0px;
    width: 60px;
    text-align: center;
    margin: 10px 10px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    
    display: none;
    left: -60px;
    position: absolute;
    background-color:  rgb(0, 0, 0);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.529);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .gray{
    background-color: rgb(45, 45, 45);
  }

  .dropdown-content p a img{
    width: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #115c5681;
    color:rgb(0, 255, 255);
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover{
    color: #00ffe5;
  }


.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
    
}
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
}

@keyframes bubble{
    0%{
        transform: translateY(-30);
        opacity:.2;
    }
    35%{
        transform: translateY(-100vh); 
        opacity:.4;

    }
    70%{
        transform: translateY(0); 
        opacity:.5;
    }

    100%{
        transform: translateY(-170vh);
        opacity:.2;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 1s;
    width: 70px;
}
.bubbles img:nth-child(2){
    animation-delay: 6s;
    width: 35px;
}
.bubbles img:nth-child(3){
    animation-delay: 2s;
    width: 50px;
}
.bubbles img:nth-child(4){
    animation-delay: 5s;
}
.bubbles img:nth-child(5){
    animation-delay: 2.5s;
    width: 75px;
}
.bubbles img:nth-child(6){
    animation-delay: 1.5s;
}
.bubbles img:nth-child(7){
    animation-delay: 6s;
    width: 50px;
}

:root{
    --bar-width:60px;
    --bar-height:0px;
    --hanmberger-gap:6px;
    --foreground:white;
    --background:black;
}
.hamburger{
    position: relative;
    margin: 0 30px;
    display: none;
    cursor: pointer;
  }


.hamburger.active :nth-child(1){
    transform: rotate(-45deg) translate(-10px,5px);
}
.hamburger.active :nth-child(2){
    transform: rotate(45deg) translate(-6px,-1px);
    opacity: 0;
}
.hamburger.active :nth-child(3){
    transform: rotate(45deg) translate(-6px,-1px);
}

  .hamburger .bar , .hamburger:after, .hamburger:before{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition:  all 0.3s ease-in-out;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }

    .item.active{
        width: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.725);
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        position: absolute;
        top:60px;
        gap:0;
        align-items: center;
        transition: 0.3s;
      }
      .item.active li{
        margin: 7px ;
      }

@media (width <650px){

    .hamburger{
        display: block;
    }
    .item{
        display: none;
    }
    .button{
        width: 150px;
        padding: 10px 0;
        margin: 20px 10px;

    }


    .content h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .content p{
        font-size: small;
    }

}
